body{
    background-color: aqua;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: inherit;
    color: rgb(230, 10, 211);
    text-align: center;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(233, 161, 7);
    text-align: center;
}
#Encabezado {
    background-color: rgb(7, 233, 161);
    min-height: 50px;
    height: auto; 
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

.encabezado1 {
    font-size: 24px;
    color: rgb(255, 0, 0);
    margin: 0;
}
.encabezado2 {
    font-size: 20px;
    color: rgb(0, 0, 255);
    margin: 0;
}
.encabezado3 {
    font-size: 16px;
    color: rgb(0, 128, 0);
    margin: 0;
}